Repository ludeeus/pytraccar: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, check-xml, mypy, pytest

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff Linter
        language: system
        types: [python]
        entry: poetry run ruff check --fix
        require_serial: true
        stages: [commit, push, manual]
        exclude: ^tests|example\.py$
      - id: ruff-format
        name: Ruff Formatter
        language: system
        types: [python]
        entry: poetry run ruff format
        require_serial: true
        stages: [commit, push, manual]
      - id: check-ast
        name: Check Python AST
        language: system
        types: [python]
        entry: poetry run check-ast
      - id: check-case-conflict
        name: Check for case conflicts
        language: system
        entry: poetry run check-case-conflict
      - id: check-docstring-first
        name: Check docstring is first
        language: system
        types: [python]
        entry: poetry run check-docstring-first
      - id: check-json
        name: Check JSON files
        language: system
        types: [json]
        entry: poetry run check-json
      - id: check-toml
        name: Check TOML files
        language: system
        types: [toml]
        entry: poetry run check-toml
      - id: check-xml
        name: Check code for common misspellings
        language: system
        types: [text]
        exclude: ^poetry\.lock$
        entry: poetry run codespell
      - id: detect-private-key
        name: Detect Private Keys
        language: system
        types: [text]
        entry: poetry run detect-private-key
      - id: end-of-file-fixer
        name: Fix End of Files
        language: system
        types: [text]
        entry: poetry run end-of-file-fixer
        stages: [commit, push, manual]
      - id: mypy
        name: Static type checking using mypy
        language: system
        types: [python]
        pass_filenames: false
        entry: poetry run mypy pytraccar
        require_serial: true
      - id: poetry
        name: Check pyproject with Poetry
        language: system
        entry: poetry check
        pass_filenames: false
        always_run: true
      - id: pytest
        name: Running tests and test coverage with pytest
        language: system
        types: [python]
        entry: poetry run pytest --cov pytraccar tests
        pass_filenames: false
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        language: system
        types: [text]
        entry: poetry run trailing-whitespace-fixer
        stages: [commit, push, manual]

Change from username/password to token authentication (#326)
  .devcontainer.json
  example.py
  pytraccar/client.py
  tests/common.py
  tests/conftest.py
  tests/test_client.py
  tests/test_subscription.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-xml, mypy, pytest

Enhance subscription handling in ApiClient
  pytraccar/client.py
  tests/conftest.py
  tests/test_subscription.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-xml, mypy, pytest

Enhance subscription handling in ApiClient (#329)
  pytraccar/client.py
  tests/conftest.py
  tests/test_subscription.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-xml, mypy, pytest

Fix installation instruction
  README.md
Due: check-xml

Add a fleshed-out Usage section to README
  README.md
Due: check-xml

Update README.md
  README.md
Due: check-xml

Fix installation instruction (#350)
  README.md
Due: check-xml

Enhance docstrings
  pytraccar/client.py
  pytraccar/exceptions.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-xml, mypy, pytest

Enhance docstrings (#351)
  pytraccar/client.py
  pytraccar/exceptions.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-xml, mypy, pytest

Delete .github/dependabot.yml
  .github/dependabot.yml
Due: check-xml

Add dependencies label to Renovate configuration (#382)
  renovate.json
Due: check-json, check-xml

Add permissions key to workflow
  .github/workflows/actions.yml
Due: check-xml

Apply suggestion from @ludeeus
  .github/workflows/actions.yml
Due: check-xml

Add permissions key to workflow (#383)
  .github/workflows/actions.yml
Due: check-xml

Add comprehensive Python 3.14 upgrade plan
  PYTHON_3.14_UPGRADE_PLAN.md
Due: check-xml

Revise Python 3.14 upgrade plan to conservative approach
  PYTHON_3.14_UPGRADE_PLAN.md
Due: check-xml

Migrate to Python 3.14 as minimum version
  .github/workflows/actions.yml
  README.md
  pyproject.toml
  pytraccar/client.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, check-xml, mypy, pytest

Update poetry.lock for Python 3.14
  poetry.lock
Due: none

Change Renovate extends to best-practices
  renovate.json
Due: check-json, check-xml
