Repository ludeeus/pytraccar: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, check-xml, mypy, pytest

ruff-check:
  name: Ruff Linter
  language: system
  entry: poetry run ruff check --fix
  require_serial: true
  stages:
  - commit
  - push
  - manual

ruff-format:
  name: Ruff Formatter
  language: system
  entry: poetry run ruff format
  require_serial: true
  stages:
  - commit
  - push
  - manual

check-ast:
  name: Check Python AST
  language: system
  entry: poetry run check-ast

check-docstring-first:
  name: Check docstring is first
  language: system
  entry: poetry run check-docstring-first

check-json:
  name: Check JSON files
  language: system
  entry: poetry run check-json

check-toml:
  name: Check TOML files
  language: system
  entry: poetry run check-toml

check-xml:
  name: Check code for common misspellings
  language: system
  entry: poetry run codespell

mypy:
  name: Static type checking using mypy
  language: system
  pass_filenames: false
  entry: poetry run mypy pytraccar
  require_serial: true

pytest:
  name: Running tests and test coverage with pytest
  language: system
  entry: poetry run pytest --cov pytraccar tests
  pass_filenames: false

remove make
  .github/workflows/actions.yml
Due: check-xml

use poetry
  .github/workflows/actions.yml
Due: check-xml

coverage to xml
  .github/workflows/actions.yml
Due: check-xml

Add ruff for lint/format (#52)
  .devcontainer.json
  .gitattributes
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/issue.md
  .github/dependabot.yml
  .github/workflows/actions.yml
  .github/workflows/release.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  README.md
  example.py
  poetry.lock
  pyproject.toml
  pytraccar/__init__.py
  pytraccar/client.py
  pytraccar/models/device.py
  pytraccar/models/geofence.py
  pytraccar/models/position.py
  pytraccar/models/reports_event.py
  pytraccar/models/server.py
  responses/devices.json
  responses/geofences.json
  responses/positions.json
  responses/reports_events.json
  responses/server.json
  tests/common.py
  tests/conftest.py
  tests/test_base_api.py
  tests/test_client.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, check-xml, mypy, pytest

lint
  pytraccar/models/subscription.py
  responses/session.json
  tests/test_subscription.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-xml, mypy, pytest

reuse auth object
  pytraccar/client.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-xml, mypy, pytest

Add WebSocket subscription handler (#49)
  pyproject.toml
  pytraccar/__init__.py
  pytraccar/client.py
  pytraccar/models/__init__.py
  pytraccar/models/subscription.py
  responses/session.json
  tests/common.py
  tests/conftest.py
  tests/test_subscription.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, check-xml, mypy, pytest

Adjust example
  example.py
Due: ruff-format, check-ast, check-docstring-first, check-xml, mypy, pytest

Add action to require PR labels
  .github/workflows/labels.yml
Due: check-xml

Adjust example (#55)
  example.py
Due: ruff-format, check-ast, check-docstring-first, check-xml, mypy, pytest

Add action to require PR labels (#56)
  .github/workflows/labels.yml
Due: check-xml

Use weekly for dependabot
  .github/dependabot.yml
Due: check-xml

Allow refactor as PR label
  .github/workflows/labels.yml
Due: check-xml

Add configuration file to generate release notes
  .github/release.yml
Due: check-xml

Use weekly for dependabot (#57)
  .github/dependabot.yml
Due: check-xml

Allow refactor as PR label (#58)
  .github/workflows/labels.yml
Due: check-xml

Add configuration file to generate release notes (#59)
  .github/release.yml
Due: check-xml

Fix formating of the release configuration
  .github/release.yml
Due: check-xml

Fix formating of the release configuration (#60)
  .github/release.yml
Due: check-xml

Move response fixtures into tests directory
  tests/common.py
  tests/responses/devices.json
  tests/responses/geofences.json
  tests/responses/positions.json
  tests/responses/reports_events.json
  tests/responses/server.json
  tests/responses/session.json
Due: ruff-format, check-ast, check-docstring-first, check-json, check-xml, mypy, pytest

Move response fixtures into tests directory (#61)
  tests/common.py
  tests/responses/devices.json
  tests/responses/geofences.json
  tests/responses/positions.json
  tests/responses/reports_events.json
  tests/responses/server.json
  tests/responses/session.json
Due: ruff-format, check-ast, check-docstring-first, check-json, check-xml, mypy, pytest

Remove broken actions badge
  README.md
Due: check-xml

Remove broken actions badge (#62)
  README.md
Due: check-xml

Don't raise for asyncio cancelation
  pytraccar/client.py
  tests/test_subscription.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-xml, mypy, pytest

Don't raise for asyncio cancelation (#67)
  pytraccar/client.py
  tests/test_subscription.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-xml, mypy, pytest

Adjust tests to comply with ruff
  tests/common.py
  tests/conftest.py
  tests/ruff.toml
  tests/test_api_calls.py
  tests/test_base_api.py
  tests/test_client.py
  tests/test_subscription.py
Due: ruff-format, check-ast, check-docstring-first, check-toml, check-xml, mypy, pytest

Adjust tests to comply with ruff (#68)
  tests/common.py
  tests/conftest.py
  tests/ruff.toml
  tests/test_api_calls.py
  tests/test_base_api.py
  tests/test_client.py
  tests/test_subscription.py
Due: ruff-format, check-ast, check-docstring-first, check-toml, check-xml, mypy, pytest

lint
  example.py
  pytraccar/__init__.py
  pytraccar/client.py
  pytraccar/models/__init__.py
  pytraccar/models/device.py
  pytraccar/models/geofence.py
  pytraccar/models/position.py
  pytraccar/models/reports_event.py
  pytraccar/models/server.py
  pytraccar/models/subscription.py
  tests/common.py
  tests/conftest.py
  tests/test_api_calls.py
  tests/test_base_api.py
  tests/test_client.py
  tests/test_subscription.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-xml, mypy, pytest

Fix typo
  tests/conftest.py
Due: ruff-format, check-ast, check-docstring-first, check-xml, mypy, pytest

Move release action to OIDC with attestation
  .github/workflows/release.yml
Due: check-xml

Move release action to OIDC with attestation (#118)
  .github/workflows/release.yml
Due: check-xml

Set Python 3.13 as minimum
  .devcontainer.json
  .github/workflows/actions.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  pytraccar/client.py
  tests/common.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, check-xml, mypy, pytest

Set Python 3.13 as minimum (#233)
  .devcontainer.json
  .github/workflows/actions.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  pytraccar/client.py
  tests/common.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-toml, check-xml, mypy, pytest

Fix badge
  README.md
Due: check-xml

Update dependabot configuration
  .github/dependabot.yml
Due: check-xml

update lock
  poetry.lock
Due: none

adjust
  poetry.lock
  pyproject.toml
  pytraccar/client.py
  pytraccar/models/__init__.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-toml, check-xml, mypy, pytest

lint
  tests/test_subscription.py
Due: ruff-format, check-ast, check-docstring-first, check-xml, mypy, pytest

Change from username/password to token authentication
  .devcontainer.json
  example.py
  pytraccar/client.py
  tests/common.py
  tests/conftest.py
  tests/test_client.py
  tests/test_subscription.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-xml, mypy, pytest

Path conditions:
  ruff-check: any of: \.py$, but not: ^tests|example\.py$
  ruff-format: any of: \.py$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-xml: any file but: ^poetry\.lock$
  mypy: any of: \.py$
  pytest: any of: \.py$
